* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    /* 3 colunas "fr" fração da tela */
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header,footer {
    grid-column: span 3;
    /* mescla coluna*/
    height: 80px;
    text-align: center;
    color: azure;
}

header {
    background-color: black;
}

footer {
    background-color: black;
}

nav {
    /* background-color: brown; */
    padding-top: 20px;
    background-color: #b26308;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
    background-color: #555;
    color: white;
}

aside {
    background-color: cadetblue;
}

.conteudo{
    /* margin: auto; */
    margin: 0 auto;
}

.conteudo h1{
    text-align: center;
}

.linha{
    padding-left:15%;
}


.linha:after {
    content: "";
    display: table;
    clear: both;
}

.item {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    float: left;
    width: 33.33%;
    height: 300px;
    /*aumente a altura de 250px para 300px, porque assim as legendas das imagens grandes não saem da caixa.*/
    text-align: center;
    width: 180px; 
}

.item:hover {
    border: 1px solid #777;
}

.item img {
    /* width: 90px; */
    width: 25%;
    /* height: auto;  */
}

.item figcaption {
    padding: 15px;
    text-align: center;
}

#temperos img, #bebidas img, #higiene-limpeza img{
    /* width: 30%; */
    /*coloquei o width : 30%, para todas as imagens buscarem um parâmetro e entrarem na caixa*/
}


@media (max-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    figure{
        border: 1px solid #000;
    }
    aside{
        display: none;
    }
    .linha{
        padding: 5px;
    }
    .item {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: auto;
        width: 33.33%;
        height: auto;
        height: 250px; 
        text-align: center;
        width: 180px;
    }
    nav ul{
        width: 100px;
        font-size: small;
    }
    nav{
        width: 100px;
    }
}